<div id="<%= dom_id kitten %>">
  <div>Name: <%= kitten.name %></div>
  <div>Age: <%= kitten.age %></div>
  <div>Cuteness: <%= kitten.cuteness %></div>
  <div>Softness: <%= kitten.softness %></div>
</div>
